/* ヘッダー */
header {
  height: 56px;
}

.inner {
  margin: 20px;
}

/* メイン */
.carousel-item {
  height: 512px;
  text-align: center;
}

.container h1 {
  color: black;
}
.container p {
  color: black;
  margin-bottom: 4rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* メディアクエリ */
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}